@use "@angular/material" as mat;

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.items-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  &.mobile {
    padding-bottom: 50px;
  }

  .card-wrapper {
    overflow: hidden;
  }
}

.fab-add {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
