@use "@angular/material" as mat;

.filters-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0;

  .filter-icon {
    color: var(--mat-sys-primary);
  }

  .filter-button-mobile {
    .filters-active {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--mat-sys-warn);
    }
  }

  .buttons {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
  }

  @include mat.form-field-density(-4);
}
