@use "@angular/material" as mat;

.delete-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  width: 80px;

  .delete-button,
  .confirm-buttons button {
    transform: translate(0);
    opacity: 1;
    transition: all 0.3s ease;
  }

  .confirm-buttons {
    display: flex;
    position: absolute;
    right: 0;
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.3s ease;
    pointer-events: none;
  }

  &.confirm-mode {
    .delete-button {
      opacity: 0;
      transform: translateX(-30px);
    }

    .confirm-buttons {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}

.delete-button,
.cancel {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-error),
    )
  );
}

.confirm {
  @include mat.icon-overrides(
    (
      color: green,
    )
  );
}
