<div class="table-wrapper">
  <table>
    <thead>
      <th>Name</th>
      <th>Category</th>
      <th colspan="2">Decision</th>
    </thead>

    <tbody>
      <tr new-item-row></tr>

      @for(item of items() | itemsFilter:selectedFilters(); track item.id) {
      <tr [@listItem]>
        <td>{{ item.name }}</td>
        <td>{{ item.categoryId | categoryName }}</td>
        <td>{{ item.state | decisionLabel}}</td>
        <td>
          <app-delete-button (delete)="removeItem(item)"></app-delete-button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>