<td>
  <mat-form-field>
    <input matInput
      placeholder="Item name"
      [(ngModel)]="newItem.name"
      name="name" />
  </mat-form-field>
</td>
<td>
  <mat-form-field>
    <mat-select placeholder="Select Category"
      [(ngModel)]="newItem.categoryId">
      @for(category of categories(); track category.id) {
      <mat-option [value]="category.id">{{category.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</td>
<td class="decision-td">
  <mat-button-toggle-group [(ngModel)]="newItem.state">
    @for (decision of moveDecisions; track decision.value) {
    <mat-button-toggle [value]="decision.value">{{decision.label}}</mat-button-toggle>
    }
  </mat-button-toggle-group>
</td>
<td>
  <button mat-button
    (click)="addItem()"
    [disabled]="!newItemIsValid">Add</button>
</td>