.filter-sheet {
  padding: 1rem;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .title {
      font-weight: bold;
      flex: 1;
    }
  }

  .filter-fields {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
