.move-item-card {
  border-radius: var(--mat-sys-corner-medium);
  border-width: 1px;
  border-style: solid;
  border-color: var(--mat-sys-outline-variant);
  background-color: var(--mat-sys-surface);
  padding: 1rem;

  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .name {
      flex: 1;
      font-size: 1.25rem;
      font-weight: 500;
      color: var(--mat-sys-on-surface);
    }
  }

  .category {
    color: rgba(0, 0, 0, 0.78);
    border: 1px solid;
    border-radius: var(--mat-sys-corner-small);
    padding: 4px 8px;
    margin-right: 1rem;
  }

  .decision {
    display: inline-block;
    border: 1px solid var(--mat-sys-outline);
    background-color: var(--mat-sys-surface);
    padding: 4px 8px;
    border-radius: var(--mat-sys-corner-small);
    color: var(--mat-sys-on-surface);
  }
}
