mat-toolbar {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);

  .logout {
    margin-left: auto;
    color: var(--mat-sys-on-primary);
  }
}

.content-container {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
}
