mat-toolbar {
  max-width: 1200px;
  margin: 0 auto;

  .logout {
    margin-left: auto;
  }
}

.content-container {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
}
