<h1 mat-dialog-title>Manage categories</h1>

<div mat-dialog-content>
  <div class="category-list">
    <div class="category-list-item add-item">
      <input type="text"
        placeholder="New category"
        (keyup.enter)="addCategory()"
        [(ngModel)]="newCategoryName" />
      <button mat-icon-button
        (click)="addCategory()"
        [disabled]="!newCategoryName.trim()"
        type="submit">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    @for(category of categories(); track category.id) {
    <div class="category-list-item"
      [@listItem]>
      <span class="name">{{category.name}}</span>
      <button mat-icon-button
        (click)="removeCategory(category)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    }
  </div>

</div>

<div mat-dialog-actions>
  <button mat-button
    mat-dialog-close>Close</button>
</div>