@use "@angular/material" as mat;

.category-list {
  .category-list-item {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    padding: 8px 0;

    @include mat.icon-overrides(
      (
        color: var(--mat-sys-error),
      )
    );
  }
}
