@use "@angular/material" as mat;
@use "./app/styles/theme.scss" as theme;
/* You can add global styles to this file, and also import other style files */

html {
  @include mat.theme(
    (
      color: theme.$primary-palette,
    )
  );
}

html,
body {
  height: 100%;
  font-size: 16px;
  background-color: var(--mat-sys-primary);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Quicksand, "Helvetica Neue", sans-serif;
}

#app-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: var(--mat-sys-surface);
}

h1 {
  font-size: 3em;
  font-weight: 600;
}

input,
select {
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--mat-sys-outline);
  border-radius: var(--mat-sys-corner-extra-small);
}
