/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: Quicksand, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: 600;
}

input,
select {
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--mat-sys-outline);
  border-radius: var(--mat-sys-corner-extra-small);
}
