@use "@angular/material" as mat;

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.items-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .card-wrapper {
    overflow: hidden;
  }
}

.add-new-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--mat-sys-secondary);
  border-radius: var(--mat-sys-corner-medium);
  background-color: var(--mat-sys-surface-container);
  box-sizing: border-box;
  transition: all 0.2s ease;
  height: 75px;

  &:after {
    content: "";
    transition: all 0.2s ease;
    transform: translateY(0);
  }

  mat-icon {
    font-size: 30px;
    transition: all 0.2s ease;

    @include mat.icon-overrides(
      (
        color: var(--mat-sys-secondary),
      )
    );
  }

  &:hover {
    cursor: pointer;
    background-color: var(--mat-sys-surface-container-highest);
    border: 2px dashed var(--mat-sys-secondary);

    mat-icon {
      transform: translateY(-10px);
      opacity: 0;
    }

    &::after {
      content: "Add New Item";
      color: var(--mat-sys-primary);
      font-size: 0.9em;
      font-weight: 500;
      transform: translateY(-12px);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}
