@use "@angular/material" as mat;

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.items-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .card-wrapper {
    overflow: hidden;
  }
}
